<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

    <main layout:fragment="content">
        <form method="post" th:action="@{/file/upload}" enctype="multipart/form-data">
            <!-- 일반 양식 -->
            <input type="text" name="userId">
            <input type="password" name="userPw">
            <!-- 파일 형식 -->
            <input type="file" name="files" multiple>
            <button type="submit">업로드</button>
        </form>
    </main>
</html>